In [20]:
import pandas as pd

dfLinks = pd.read_csv('moviecsv/links.csv')
dfTags = pd.read_csv('moviecsv/tags.csv')
dfMovies = pd.read_csv('moviecsv/movies.csv')
dfRatings = pd.read_csv('moviecsv/ratings.csv')


# dfLinks.head()
# dfTags.head()
dfMovies.head()
# dfRatings.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
movieWithRating = pd.merge(right=dfMovies, left=dfRatings, left_on='movieId', right_on='movieId', how='inner')

movieWithRating.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller